<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" th:href="@{/icons/petsyicon.webp}">
</head>
<body style="background-color:  #dfdfe9;">
<div class="my-4 container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-xl-11">
            <div style="background-color: white; border-radius: 25px; overflow: hidden">

                <nav class="navbar navbar-expand-lg navbar-light">
                    <a href="/index">
                    <img alt="Petsy" class="mx-3" style="margin-top:10px" width="100px" src="../static/icons/petsy.png" th:src="@{/icons/petsy.png}">
                    </a>
                    <button class="navbar-toggler" style="border: 2px solid #cd58d1; border-radius: 20px" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item" >
                                <a class="nav-link h4 px-4 mt-3" style="color: white; background-color: #cd58d1; border-radius: 30px" href="/home">Главная</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link h4 px-4 mt-3" href="/animals">Животные</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle h4 px-4 mt-3" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${username}"></a>
                                <div class="dropdown-menu dropdown-menu-right p-0" style="border: none" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item mb-2" th:attr="href=${linkInOrAccount}" style="background-color: #cd58d1; color: white;" th:text="${textInOrAccount}">Войти</a>
                                    <a class="dropdown-item" th:attr="href=${linkOutOrUp}" style="background-color: grey; color: white; " th:text="${textOutOrUp}">Выйти</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <hr class="mx-3 rounded" style="background-color: #cd58d1">

                <div class="row justify-content-center text-center">
                    <div class="col-10 col-xl-5">
                        <p class="h3 font-weight-normal my-1"> Приют для бездомных животных </p>
                        <img alt="Petsy" class="my-1"  width="200px" src="../static/icons/petsy.png" th:src="@{/icons/petsy.png}">
                        <img alt="cat?" class="mx-auto rounded border"  width="100%" src="../static/images/animals/cat.jpg" th:src="@{/images/animals/cat.jpg}">
                        <p class="h4 font-weight-normal my-4"> Спасибо вам за доброту!😸 </p>
                    </div>
                </div>
                <hr class="mx-3">

                <div class="row justify-content-center text-center mb-3">
                    <div class="col-10 col-xl-5">
                        <p class="h3 font-weight-normal my-3"> Статистика </p>
                        <div class="h4 font-weight-normal">
                            Эксперты выяснили, что всего в России насчитывается 67 млн кошек и собак.
                        </div>
                        <div class="h4 font-weight-normal">
                            Из них 4,1 млн, или 6%, — бездомные.
                        </div>
                        <div class="h4 font-weight-normal">
                            3,2 млн кошек и 735 тысяч собак живут на улице.
                        </div>
                        <div class="h4 font-weight-normal">
                            144 тысячи животных — в приютах.
                        </div>
                        <p class="h3 font-weight-normal my-4" style="color: #cd58d1"> Возьми друга! </p>
                    </div>
                </div>

                <footer class="footer py-3" style="background-color: #cd58d1; color: white; border-radius: 0 0 0 25px">
                    <div class="mx-5">
                        <div class="row justify-content-center text-center">
                            <div class="col my-2">КОНТАКТНАЯ ИНФОРМАЦИЯ</div>
                        </div>
                        <div class="row justify-content-center text-center my-1">
                            <div class="col-6 col-xl-3">Пшеничный Т.Д.</div>
                            <div class="col-6 col-xl-3">ИКБО-32-21</div>
                        </div>
                        <div class="row justify-content-center text-center my-1">
                            <div class="col-6 col-xl-3">
                                <img alt="github?" class="mx-auto" width="30px" src="../static/icons/github.png" th:src="@{/icons/github.png}">
                                <a class="text-light" target="_blank" href="https://github.com/tim-lwry/jvtmplts-cw-petsy">GitHub</a>
                            </div>
                            <div class="col-6 col-xl-3">2023</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>